<div class="container d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-12 mb-4">
            <div class="card carta animate__animated animate__fadeIn animate__faster">
                <img src="https://www.pon-cat.com/application/files/7915/8400/2602/home-banner.jpg" class="card-img-top" style="border-radius: 10px;">
                <div class="card-body">
                  <div class="container" style="font-size: 110%;">
                    <p class="card-text">Esta solución está implementada para llevar el control sobre el porcentaje de personas vacunadas contra el de COVID-19 en todo Guatemala.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card carta animate__animated animate__fadeIn animate__faster" style="animation-delay: 100ms;">
                <img src="https://cdn-e360.s3-sa-east-1.amazonaws.com/estadisticas-sobre-la-efectividad-de-inbound-marketing-large-3IfPkrizXB.png" class="card-img-top" style="border-radius: 10px;">
                <div class="card-body">
                  <div class="container" style="font-size: 110%;">
                    <p class="card-text">Las estadísticas que se miden con respecto a personas vacunadas son igual de importantes que las relacionadas a los casos como tal.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card carta animate__animated animate__fadeIn animate__faster" style="animation-delay: 200ms;">
                <img src="../../../assets/stats.png" class="card-img-top" style="border-radius: 10px;">
                <div class="card-body">
                  <div class="container" style="font-size: 110%;">
                    <p class="card-text">Los casos a nivel nacional han disminuido considerablemente mientras se distribuye la vacuna a los pobladores de todo el país</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>