
<div class="Contenedor">
  <div class="Tabla">
      <table class="tg">
      <thead>
        <tr>
          <th class="tg-bzci" colspan="2"><span style="font-weight:bold">Datos Utilización CPU</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0lax"><span style="font-weight:bold">Total % Utilización CPU :</span></td>
          <td class="tg-0lax">{{Utilizacion_CPU}}%</td>
        </tr>

      </tbody>
      </table>
  </div>

  <div class="Grafica">
    <ngx-charts-line-chart
    [view]="view"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="listaGrafica"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
</div>



